mixin pagination(pagination)
  nav
    ul(class="pagination")
      if(pagination.currentPage > 1)
        li(class="page-item")
          button(
            class="page-link"
            button-pagination = pagination.currentPage - 1 
            ) Trang trước
      - for (var i = 0; i < pagination.totalPages; i++)
        li(class=`page-item ${pagination.currentPage == i+1?"active" : ""}`)
          button(
            class="page-link"
            button-pagination = i+1
          ) #{i+1}


      if(pagination.currentPage < pagination.totalPages)
        li(class="page-item")
          button(
            class="page-link"
            button-pagination = pagination.currentPage + 1
          ) Kế tiếp
